* {
  /* color: white; */
}

body {
  /* background-color: #0074D9; */
  /* background-color: #001f3f; */
  /* background: linear-gradient(180deg, rgba(245, 143, 41, 0.83) 8.43%, rgba(164, 176, 245, 0.83) 96.47%); */
  text-align: center;
  align-items: center;
  font-family: -apple-system, blinkmacsystemfont, "segoe ui", "roboto", "oxygen",
    "ubuntu", "cantarell", "fira sans", "droid sans", "helvetica neue",
    sans-serif;
}
