* {
  color: white;
  /* min-height: 0; */
  /* min-width: 0; */
}

body {
  /* background-color: #0074D9; */
  background-color: #001f3f;
  text-align: center;
  align-items: center;
  font-family: -apple-system, blinkmacsystemfont, "segoe ui", "roboto", "oxygen",
    "ubuntu", "cantarell", "fira sans", "droid sans", "helvetica neue",
    sans-serif;
}
